.latest-posts-section {
  padding: 20px 0;
  margin: 40px 0;
}

.latest-posts-title {
  margin-bottom: 40px;
  text-align: center;
}

.latest-posts-more-link {
  margin: 0 auto;
  text-align: center;
}